.Transfer span {
  font-size: 18px;
  color: var(--secondary-text);
}

.Transfer input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Transfer input[type='number'] {
  -moz-appearance: textfield;
}
